<div>
  <small style="color: #137e8f;">
    <strong><%= message.user.name %></strong><%= message.created_at.strftime(" on %b %e at %l:%M %p") %>
  </small>

  <div class="message-box">
    <p class="small p-2 ms-3 mb-2 rounded-pill message-text"><%= message.content %></p>
  </div>

</div>
