.pontuation {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin-left: -5px;
}

.card-container {
  border-radius: 1%;
  background-color: #C4C4C4;
}

.btn-primary {
  background-color: #000000;
  border-color: transparent !important;
}

.question {
  border-radius: 10%;
}

.fa-chevron-circle-right {
  font-size: 50px;
}