.pontuation {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin-left: -5px;
}

.card-container {
  border-radius: 50px;
  background-color: #fff;
  border: 3px solid #161616;
  position: relative;
}

.question {
  border-radius: 50px;
}

.fa-chevron-circle-right {
  font-size: 50px;
}


// input[type='range'] {
//   overflow: hidden;
//   width: 80px;
//   -webkit-appearance: none;
// }

// input[type='range']::-webkit-slider-runnable-track {
//   height: 10px;
//   -webkit-appearance: none;
// }

input[type='range']::-webkit-slider-thumb {
  width: 17px;
  -webkit-appearance: none;
  height: 17px;
  cursor: ew-resize;
  background: #ed3b5a;
  border: 2px solid #000;
}
