.card-footer {
  background-color: transparent;
  border-top: none;
}

.message-box {
  margin-top: 10px;
  margin-bottom: 30px;
}

.message-box p {
  background-color: #137e8f;
  color: #fff;
  padding: 20px;
}
