#cellphone {
  outline: 0;
  background-color: #DBDBDB;
  border-width: 0 0 2px;
  border-color: #000;
  font-size: 22px;
}
#cellphone:focus {
  border-color: green
}

.phone-label {
  font-size: 22px;
}

.submit {
  position: fixed;
  bottom: 20px;
}