
.all-content {

  h1 {
    font-size: 60px;
    color: #ed3b5a;
  }

  p {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
  }
}

.present-card {
  display: flex;
}

.arrow {
  min-width: 85px;
  background-color: #fff;
  // margin-right: 90px;
  min-height: 125px;
  margin-bottom: 40px;
}

.first {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 130px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  h1 {
    position: absolute;
    top: -18px;
    left: -11px;
  }

  p {
    position: absolute;
    left: 125px;
    top: 31px;
  }
}

.second {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  width: 100%;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  position: relative;

  h1 {
    position: absolute;
    top: -18px;
    left: -11px;
  }

  p {
    position: absolute;
    left: 125px;
    top: 49px;
  }
}

.third {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  position: relative;

  h1 {
    position: absolute;
    top: -18px;
    left: -11px;
  }

  p {
    position: absolute;
    left: 125px;
    top: 31px;
    text-align: center;
  }
}

.fourth {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  width: 100%;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 0;
  position: relative;

  h1 {
    position: absolute;
    top: -18px;
    left: -11px;
  }

  p {
    position: absolute;
    left: 125px;
    top: 31px;
  }
}

.presentation-next {
  color: #ed3b5a;
  padding-left: 3px;
  padding-top: 26px;
}

.button-arrow {
  padding: 0;
  margin: 0 auto;
  width: 50px;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 414px;
    min-height: 736px;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 4px;
    padding-bottom: 20px;
  }
}
