<div class="my-home">
  <h1 class="text-center fw-bold">FlatMatch</h1>
  <div class="container">
    <div class="row">
      <div class="col py-3 px-5">
        <p class="text-center mt-4 fw-lighter">Connecting people around <br>the world and finding the<br> ideal
          flatmatch.</p>

          <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary py-3 rounded-pill", id: "home-button" %>

      </div>
    </div>
  </div>
</div>

<div class="sign-up">
  <%= link_to "Sign Up", new_user_registration_path, class: "btn-sign-up" %>
</div>
