<div class="all-content">

  <div class="present-card mt-4">
    <div class="arrow">
    </div>

    <div class="first">
      <h1 class="p-5"><i class="fas fa-question-circle"></i></h1>
      <p class="pe-5">Answer questions</p>
    </div>

  </div>

  <div class="present-card">

    <div class="second">
      <h1 class="p-5"><i class="fas fa-percent"></i></h1>
      <p class="pe-3">Check compatibility</p>
    </div>
    <div class="arrow">
    </div>

  </div>

  <div class="present-card">
    <div class="arrow">
    </div>
    <div class="third">
      <h1 class="p-5"><i class="fas fa-heart"></i></h1>
      <p class="pe-3">Like and <strong>Match !</strong></p>
    </div>

  </div>

  <div class="present-card">
    <div class="fourth">
      <h1 class="p-5"><i class="fas fa-comment-dots"></i></h1>
      <p class="pe-3">Get in touch!</p>
    </div>
    <div class="arrow">



    <%= link_to new_about_path, class: "btn-outline-light" do %>
    <i class="presentation-next fas fa-chevron-circle-right" aria-hidden="true"></i>
  <% end %>
    </div>
  </div>


</div>
