<div class="all-content">

  <div class="present-card mt-3">
    <div class="first">
    </div>

    <div class="arrow">
    </div>
  </div>

  <div class="present-card">
    <div class="arrow">
    </div>
    <div class="second">
    </div>
  </div>

  <div class="present-card">
    <div class="third">
    </div>
    <div class="arrow">
    </div>
  </div>

  <div class="present-card">
    <div class="arrow">
    </div>
    <div class="fourth">
    </div>
  </div>


</div>


fas fa-users
