<div class="banner" id="my-banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("coliving.avif") %>)">
  <div class="container">
  </div>
  <div class="description">
    <div class="container">
      <h3>How it works?</h3>
      <p class="content mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quam iste. 
      Quae amet magni quaerat similique fugit neque laboriosam. 
      Fuga repellat, pariatur odio ea vel facilis esse facere ipsum!</p>
      <%= link_to new_about_path, class: "btn btn-transparent" do %>
        <i style="color: #ed3b5a;" class="fas fa-chevron-circle-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>