.btn:disabled {
  opacity: 1;
}

#main-button {
  background-color: #ed3b5a;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  display: block;
  bottom: -34px;
  width: 65%;
  right: 18%;
  border: 7px solid #fff;
}


.main-button {
  background-color: #ed3b5a;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: block;
  width: 65%;
  border: 7px solid #fff;
  border-radius: 50px;
}

.btn-face {
  background-color: #137e8f;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  display: block;
  border: 7px solid #fff;
  border-radius: 50px;
}

.about-btn-position{
  position: relative;
}

#about-button {
  position: absolute;
  bottom: -64px;
  right: 112px;
  border: 5px solid #fff;
  background-color: #fff;
}

#question-button {
  position: absolute;
  bottom: -30px;
  left: 42%;
  border: 5px solid #fff;
  background-color: #fff;
}

#phone-button {
  position: absolute;
  bottom: -28;
  left: 42%;
  border: 5px solid #fff;
  background-color: #fff;
}

#match-button {
  background-color: #fff;
  color: #ed3b5a;
  font-weight: 700;
  font-size: 18px;
  display: block;
  border: 5px solid #ed3b5a;
  width: 50%;
}

.btn-message {
  border-radius: 0 50px 50px 0;
  background-color: #ed3b5a;
  font-weight: 600;
}

.btn-message {
    border-radius: 0 50px 50px 0;
    background-color: #ed3b5a;
    font-weight: 600;
}

.btn-sign-up {
  color: #ed3b5a;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

#btn-show-map {
  color: #ed3b5a;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
