.btn:disabled {
  opacity: 1;
}




#main-button {
  background-color: #ed3b5a;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  display: block;
  bottom: -34px;
  width: 65%;
  right: 18%;
  border: 7px solid #fff;

  &:active {
    background-color: #ed3b5a !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    display: block !important;
    border: 7px solid #fff !important;
  }
  &:focus {
    background-color: #ed3b5a !important;
    color: #fff !important;
  }
  &:hover {
    background-color: #ed3b5a !important;
    color: #fff !important;
  }
}


.main-button {
  background-color: #ed3b5a;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: block;
  width: 65%;
  border: 7px solid #fff;
  border-radius: 50px;

  &:active {
    background-color: #ed3b5a !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    display: block !important;
    border: 7px solid #fff !important;
  }
  &:focus {
    background-color: #ed3b5a !important;
    color: #fff !important;
  }
  &:hover {
    background-color: #ed3b5a !important;
    color: #fff !important;
  }
}

.btn-face {
  background-color: #137e8f;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  display: block;
  border: 7px solid #fff;
  border-radius: 50px;

  &:active {
    background-color: #137e8f !important;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    display: block !important;
    border: 7px solid #fff !important;
    border-radius: 50px !important;
  }

  &:focus {
    color: #fff !important;
    background-color: #137e8f !important;
  }
  &:hover {
    color: #fff !important;
    background-color: #137e8f !important;
  }
}

.about-btn-position{
  position: relative;
}

#about-button {
  position: absolute;
  bottom: -64px;
  right: 112px;
  border: 5px solid #fff;
  background-color: #fff;

  &:active {
    border: none !important;
  }

  &:focus {
    border: none !important;
  }

  &:hover {
    border: none !important;
  }
}

#question-button {
  position: absolute;
  bottom: -30px;
  left: 42%;
  border: 5px solid #fff;
  background-color: #fff;

  &:active {
    border: none !important;
  }

  &:focus {
    border: none !important;
  }

  &:hover {
    border: none !important;
  }
}

#phone-button {
  position: absolute;
  bottom: -28;
  left: 42%;
  border: 5px solid #fff;
  background-color: #fff;

  &:active {
    border: none !important;
  }

  &:focus {
    border: none !important;
  }

  &:hover {
    border: none !important;
  }
}

#match-button {
  background-color: #fff;
  color: #ed3b5a;
  font-weight: 700;
  font-size: 18px;
  display: block;
  border: 5px solid #ed3b5a;
  width: 50%;
}

.btn-message {
  border-radius: 0 50px 50px 0;
  background-color: #ed3b5a;
  font-weight: 600;
}

.btn-message {
    border-radius: 0 50px 50px 0;
    background-color: #ed3b5a;
    font-weight: 600;
}

.btn-sign-up {
  color: #ed3b5a;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

#btn-show-map {
  color: #ed3b5a;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.upload-button {
  background-color: #F4F4F4;
  border: 1px solid #137e8f;
  color: #6c757d;
}
