.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 4px;
  max-height: 350px;
}

.profile-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4PX;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-user {
  border: white 1px solid;
}

.card-trip a {
  text-decoration: none;
  font-size: 14px;
  opacity: .6;
  color: #000;
  margin: 0;
  font-weight: bolder;
}

// LIKED and DISLIKED -- Heart -- Percentage

.card-trip a.card-heart {
  text-decoration: none;
  font-size: 18px;
  opacity: 1 !important;
  color: transparent !important;
  margin: 0;
}

.compatibility {
  position: absolute;
  right: 15px;
  top: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ed3b5a;
}

.disliked {
  color: #DBDBDB !important;
}

.liked {
  color: #ed3b5a !important;
}
